* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App > h1 {
  text-align: center;
}

.form-body {
  padding: 3rem 20vw;
  display: flex;
  justify-content: space-between;
}

.top-bar,
.bottom-bar {
  background: linear-gradient(90deg, #29E268, #29ABE2);
  height: .7rem;
}

.bottom-bar {
  margin-top: 5rem;
}