.admin {
  min-height: 100vh;
  padding: 3rem 10vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.admin button {
  width: 20rem;
  letter-spacing: normal;
}

.admin h5 {
  color: #d3d3d3;
}

.methods input {
  text-align: center;
}

.views h3 > i {
  margin-right: .5rem;
}

.views h3 {
  margin-top: .5rem;
  color: #d3d3d3;
}

.withdraw,
.transfer,
.wl-addr,
.check-balance,
.mint-count {
  margin-bottom: 3rem;
}

