.image-slider {
  width: 27rem;
  margin: auto;
  min-height: 27rem;
}

.image-slider div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-slider > p {
  text-align: center;
  margin-top: .5rem;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  color: #E4761B;
}

.image-slider i {
  cursor: pointer;
  color: #8b8b8b;
  transition: color .2s ease-in-out;
  font-size: 1.5rem;
}

.image-slider i:hover {
  color: #E4761B;
}

.slider-img {
  width: 23rem;
  border-radius: .5rem;
}

.slider-img.active {
  animation: fade .3s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}