.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 10vw;
  /* position: sticky;
  top: 0; */
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.logo img {
  width: 15rem;
}

.logo h1 {
  font-family: 'Gemunu Libre', sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > i {
  margin-right: .5rem;
  color: white;
}

.spinner {
  animation: spin .5s linear infinite;
  transition: display .2s ease-in;
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.admin-link {
  margin-right: .5rem;
  color: #9c9c9c;
  transition: color .3s ease-in-out;
}

.admin-link:hover {
  color: #E4761B;
}

.connect-btn {
  transition: color .3s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  color: #E4761B;
  border: 2px solid #9c9c9c;
  border-radius: .2rem;
  padding: .5rem 1rem;
  background-color: transparent;
  letter-spacing: .01rem;
}

.connect-btn:hover {
  color: #E4761B;
  background-color: transparent;
}

.connect-btn p {
  margin-right: .5rem;
  font-family: cursive;
}

.connect-btn i {
  font-size: 1.2rem;
}