.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 5vw;
  /* position: sticky;
  top: 0; */
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.logo img {
  width: 15rem;
}

.link,
.ex-link {
  display: inline-block;
  margin: 0 1.5rem;
  color: #d3d3d3;
  text-decoration: none;
}

.ex-link i {
  font-size: 1.2rem;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns > i {
  margin-right: .5rem;
  color: white;
}

.spinner {
  animation: spin .5s linear infinite;
  transition: display .2s ease-in;
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.admin-link {
  margin-right: .5rem;
  color: #9c9c9c;
  transition: color .3s ease-in-out;
}

.admin-link:hover {
  color: #E4761B;
}

.connect-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  color: #E4761B;
  border: 2px solid #9c9c9c;
  border-radius: .5rem;
  padding: .5rem 1rem;
  background-color: transparent;
  letter-spacing: .01rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.connect-btn p {
  margin-right: .5rem;
}